@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body, html{
 background-color: darkgray;
 min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
}
header > p{

}

/* 5:55 momento que parei do video */