body{
    background: linear-gradient(to right, red, blue);
}

h1, p {
  background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: moverGradiente 5s linear infinite;
  background-size: 400% 400%;
}

@keyframes moverGradiente {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}
